body {
  border: solid 2px;
  border-radius: 20px;
  padding: 20px;
}

h2 {
  color: gray;
  font-size: 20px;
}

.textcenter {
  text-align: center;
}

.contactbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts {
  font-family: monospace;
}

.imagecenter {
  display: block;
  align-items: center;
  margin: auto;
  border: 200px;
}

.tinyprint {
  text-align: center;
  color: grey;
  font-size: 10px;
}
